/* General Styling */
body.dark-theme {
  font-family: 'Arial', sans-serif;
  background-color: #2c2f33; /* Dark background */
  color: #eaeaea; /* Light text color */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #00d1b2; /* Light teal color for headings */
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #00d1b2; /* Light teal color for links */
  text-decoration: none;
}

a:hover {
  color: #0099a8; /* Slightly darker teal on hover */
  text-decoration: underline;
}

/* Project Image */
.project-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.project-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* Project Content */
.project-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba
